<form action="/rfc" method="post">
    <h3>Obten tu RFC</h3>
    <input type="text" name="primer_nombre" id="primer-nombre" required placeholder="Primer Nombre" class="form-control m-2">
    <input type="text" name="segundo_nombre" id="segundo-nombre" placeholder="Segundo Nombre" class="form-control m-2">
    <input type="text" name="apellido_paterno" id="apellido-paterno" placeholder="Apellido Paterno" required class="form-control m-2">
    <input type="text" name="apellido_materno" id="apellido-materno" placeholder="Apellido Materno" required class="form-control m-2">
    <input type="date" name="fecha_nacimiento" id="fecha-nacimiento" placeholder="Fecha" required class="form-control m-2">
    <input type="submit" value="Enviar" class="btn btn-primary form-control m-2">
</form>